html {
  width: 100vw;
  height: 100vh;
  background: #F0E9D1;
}

.Container {
  background: #F0E9D1;
  width: 100vw;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}